body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background: #000;;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#info {
	position: fixed;
  top: 0;
  left: 0;
	width: 100vw;
  height: 100vh;
	z-index: 100;
  display: flex;
  color: white;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  user-select: none;
  pointer-events: none;
}

.nav{
  margin:10px;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.5;
}

.nav:hover, .nav:active {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}